body{
    background-color: #5f2129;
    color: #ffffff;
}

a {
    color: #ffffff;
}

th {
    color: #ffffff;
}

h1 {
    color: #ffffff;
}

h2{
    text-align: center;
}

label {
    color: #000000;
}

fieldset {
  background-color: #eeeeee;
}

legend {
  background-color: gray;
  color: white;
  padding: 5px 10px;
}